# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment
*env*
*.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
logs/
temp/
archive/

# Data
shared_data/*.xlsx
shared_data/*.xls
shared_data/*.csv
!shared_data/sample.xlsx

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

#certificates
*/certs/*.crt

# postgres data
postgres/data/pgdata/*